/* {
primary color: #B71C1C
secondary color: #FBC02D
accent color: #00BCD4
background color: #0D0D0D
text color : #FFFFFF
hover : #F44336
} */

/* background: linear-gradient(
    90deg,
    #a3a3a3 0%,
    #fbc02d 10%,
    #8c1818 30%,
    #6d1212 50%,
    #8c1818 70%,
    #fbc02d 90%,
    #a3a3a3 100%
  ); */

* {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: #f7f7f7;
}

#header {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  padding: 0px 150px;
  position: fixed;
  gap: 30px;
  background: linear-gradient(
    to right,
    #fbc02d,
    #b71c1c,
    #b71c1c,
    #b71c1c,
    #fbc02d
  );
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.logo-text h3 {
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  background-color: #b71c1c;
  margin: 0;
}

#navbar {
  background-color: transparent;
}

#navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
  background-color: transparent;
}

#navbar li {
  background-color: transparent;
}

#navbar a {
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
}

#navbar a:hover {
  color: rgb(75, 33, 33);
  font-size: 20px;
  background-color: transparent;
}

.navbar-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 150px 50px 150px;
  font-family: sans-serif;
}

#hero img {
  object-fit: cover;
}

#hero h1 {
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  background-color: transparent;
}

#hero div {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

#hero p {
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  font-family: sans-serif;
}

#about h2 {
  font-size: 30px;
}

#about p {
  font-size: 16px;
}

#about ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 15px;
  width: 100%;
}

#about li {
  border: 1px solid #8c1818;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#about li:hover {
  background-color: #8c1818;
  color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  cursor: pointer;
}

#early-life {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 150px;
}

#timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
}

#timeline h2 {
  font-size: 30px;
  color: #f7f7f7;
}

#timeline ul {
  list-style: none;
  font-size: 25px;
  color: #f7f7f7;
}

#timeline li {
  font-size: 16px;
  margin-bottom: 10px;
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  gap: 20px;
  color: #f7f7f7;
}

#gallery h2 {
  font-size: 30px;
}

#portofolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  gap: 20px;
  color: #f7f7f7;
}

#portofolio h2 {
  font-size: 30px;
}

#legacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  color: #f7f7f7;
}

#legacy h2 {
  font-size: 30px;
}

#legacy p {
  font-size: 16px;
  text-align: center;
}

#legacy button {
  border: 1px solid #8c1818;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#legacy button:hover {
  background-color: #8c1818;
  color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  cursor: pointer;
}

#legacy ul {
  list-style: none;
  font-size: 18px;
}

#legacy li {
  margin-bottom: 10px;
}

#legacy a {
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

#legacy a:hover {
  font-size: 18px;
  color: #8c1818;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
  font-size: 12px;
}

.about-img {
  width: 600px;
  object-fit: cover;
  border-radius: 20px;
}

.about-text {
  width: 50%;
}
