:root {
  --primary-color: #b71c1c;
  --secondary-color: #fbc02d;
  --accent-color: #00bcd4;
  --background-color: #000000;
  --text-color: #f7f7f7;
  --hover-color: #f44336;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

#header {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 30px;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color)
  );

  @media screen and (max-width: 768px) {
    padding: 0px 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0px 0px;
    gap: 10px;
  }
}

.icon-menu {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.icon-menu ul {
  display: none;
  @media screen and (max-width: 768px) {
    display: flex;
    position: absolute;
    top: 35px;
    right: 0px;
    background: linear-gradient(
      to right,
      var(--secondary-color),
      var(--primary-color),
      var(--primary-color),
      var(--secondary-color)
    );
    width: 100%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    list-style: none;
    padding: 10px 0px;
  }
}

.icon-menu a {
  @media screen and (max-width: 768px) {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
  }
}
.icon-menu a:hover {
  @media screen and (max-width: 768px) {
    background-color: var(--hover-color);
  }
}

.list-menu {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    gap: 10px;
  }
}

.logo-text h3 {
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  background-color: var(--primary-color);
  margin: 0;
}

#navbar {
  background: transparent;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

#navbar div {
  display: flex;
  gap: 20px;
  list-style: none;
  background-color: transparent;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    gap: 5px;
  }
}

#navbar li {
  background-color: transparent;
}

#navbar a {
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  color: var(--text-color);
  padding: 5px 10px;

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 14px;
  }
}

#navbar a:hover {
  background-color: var(--hover-color);
  border-radius: 20px;
}

.navbar-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 150px 50px 150px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    padding: 50px 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 60px 30px;
  }
}

#hero img {
  object-fit: cover;

  @media screen and (max-width: 768px) {
    width: 400px;
    height: 230px;
    object-fit: contain;
    margin-left: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 380px;
    height: 300px;
    object-fit: contain;
  }
}

#hero h1 {
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  @media screen and (max-width: 768px) {
    text-align: center;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 40px;
  }
}

#hero div {
  display: flex;
  flex-direction: column;
}

#hero p {
  font-size: 20px;
  @media screen and (max-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 16px;
  }
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
    padding: 20px 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 30px;
    flex-direction: column;
  }
}

#about h2 {
  font-size: 30px;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
  }
}

#about p {
  font-size: 16px;
  margin-bottom: 30px;
}

.desciption-tile {
  display: flex;
  gap: 40px;
  font-size: 15px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    flex-direction: row;
  }
}

.description-tile button {
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
  }
}

#about button {
  border: 1px solid #8c1818;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  color: var(--text-color);
}

#about button:hover {
  background-color: #8c1818;
  color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  cursor: pointer;
}

.about-img {
  width: 600px;
  object-fit: cover;
  border-radius: 20px;

  @media screen and (max-width: 768px) {
    width: 300px;
    object-fit: contain;
  }
}

.about-text {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    height: auto;
    text-align: center;
  }
}

#early-life {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 150px;

  @media screen and (max-width: 768px) {
    padding: 20px 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 30px;
  }
}

#early-life h2 {
  font-size: 30px;
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
  }
}

#early-life p {
  font-size: 18px;
  text-align: center;
  padding: 0px 200px;
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    padding: 0px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 0px;
  }
}

#timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    padding: 20px 80px;
  }
}

#timeline h2 {
  font-size: 30px;
  color: var(--text-color);

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
  }
}

#timeline div {
  list-style: none;
}

#timeline li {
  display: flex;
  font-size: 16px;
  margin-bottom: 10px;
  align-items: center;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    transition: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    transition: none;
  }
}

#timeline li:hover {
  transform: scale(1.2);

  @media screen and (max-width: 768px) {
    transform: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    transform: none;
  }
}

#timeline img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    width: 100px;
    height: 100px;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 200px;
    height: 200px;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

#timeline img:hover {
  transform: scale(4.5);
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;

  @media screen and (max-width: 768px) {
    transform: scale(2);
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    transform: scale(1.2);
  }
}

#gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  gap: 20px;

  @media screen and (max-width: 768px) {
    padding: 20px 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 30px;
  }
}

#gallery h2 {
  font-size: 30px;
  text-align: center;
  margin: 30px 0px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    margin: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
    margin: 0;
  }
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 60px;

  @media screen and (max-width: 768px) {
    gap: 20px;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
}

.photo-costume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#gallery img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    width: 100px;
    height: 150px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 200px;
    height: 250px;
  }
}

#gallery img:hover {
  transform: scale(1.4);
  object-fit: cover;
  border-radius: 20px;

  @media screen and (max-width: 768px) {
    transform: scale(1.5);
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    transform: scale(1.3);
  }
}

#portofolio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 150px;
  gap: 120px;
  color: var(--text-color);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px 50px;
    gap: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    flex-direction: column;
    padding: 20px 80px;
    gap: 20px;
  }
}

#portofolio h2 {
  font-size: 30px;
  width: 250px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
    width: 100%;
    text-align: center;
  }
}

#portofolio ul {
  list-style-type: disc;
  padding-left: 20px;

  @media screen and (max-width: 768px) {
    padding-left: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding-left: 0;
  }
}

#portofolio li {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 18px;
  }
}

#legacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  color: var(--text-color);

  @media screen and (max-width: 768px) {
    padding: 20px 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 80px;
  }
}

#legacy h2 {
  font-size: 30px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
  }
}

#legacy p {
  font-size: 18px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    font-size: 18px;
  }
}

#legacy ul {
  list-style: none;
  font-size: 18px;
}

#legacy li {
  margin-bottom: 10px;
}

.button-learn-more {
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  margin: 20px 0px;
  text-decoration: none;
  @media screen and (max-width: 768px) {
    margin: 10px 0px;
  }
}

.button-learn-more:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 40px 5px var(--hover-color);
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-icons a {
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.social-icons i {
  font-size: 24px;
}

.social-icons a:hover {
  color: var(--secondary-color);
  transform: scale(1.3);
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 150px;
  font-size: 12px;
  background-color: var(--primary-color);

  @media screen and (max-width: 768px) {
    padding: 5px 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 5px 80px;
  }
}
