/* {
primary color: #B71C1C
secondary color: #FBC02D
accent color: #00BCD4
background color: #0D0D0D
text color : #FFFFFF
hover : #F44336
} */

* {
  font-family: "Roboto", sans-serif;
  background-color: #a3a3a3;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  font-family: sans-serif;
  background: linear-gradient(
    90deg,
    #f7f7f7 0%,
    #fbc02d 10%,
    #8c1818 30%,
    #6d1212 50%,
    #8c1818 70%,
    #fbc02d 90%,
    #f7f7f7 100%
  );
}

#hero h1 {
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
}

#hero p {
  font-size: 20px;
  color: #ffffff;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  font-family: sans-serif;
}

#about h2 {
  font-size: 30px;
  color: #f7f7f7;
}

#about p {
  font-size: 16px;
  color: #f7f7f7;
}

#about ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 25px;
}

#about li {
  border: 1px solid #8c1818;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#about li:hover {
  background-color: #8c1818;
  color: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  cursor: pointer;
}

#timeline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
}

#timeline h2 {
  font-size: 30px;
  color: #f7f7f7;
}
